.button-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
}

.dropdown-content div {
    cursor: pointer;
    padding: 8px;
}

.dropdown-content div:hover {
    background-color: #ddd;
}
